.education {
    margin: 15px;
}

.education h3 {
    margin-bottom: 15px;
}

.education li {
    display: flex;
    margin: 15px 0;
}

.education section {
    width: 100%;
    margin-left: 60px;
    background-color: #ededed;
}

.education section > p {
    margin: 10px; 
}

#bold {
    font-weight: bold;
}